.navbar-brand {
    font-family: "Pacifico", sans-serif;
    font-size: 35px;
    color: orange !important;
}

.nav-link {
    font-size: 18px;
    margin: 15px;
    color: #000 !important;
    font-family: "Roboto Condensed", sans-serif;
    /*border-bottom: 2px solid transparent;*/
}

.nav-link:hover {
    color: orange !important;
}

.active.nav-link {
    color: orange !important;
    /*border-bottom: 2px solid #aaaaaa;*/
}

.menu-right-btn {
    padding: 13px 46px;
    margin-right: 4%;
    transition: all 300ms ease-in;
    background-color: #ffa40e;
    border-color: #ffa40e;
}

.btn-drop {
    color: #212529;
    background: #fff0d8;
}

#totalDishes {
    font-weight: bold;
}

#navbarMenu em {
    color: #ffa40e;
    font-size: 30px;
    padding-top: 5px;
}